<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block head_title %}{% endblock %}</title>
    {% block extra_head %}
    {% endblock %}

    {% block head %} {% endblock %}

</head>
<body>
    {% block body %}
    <div style="margin-top: 70px; padding: 20px;">
        {% if messages %}
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }} alert-dismissible fade show " role="alert">
              {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span data-dismiss="true">&times;</span>
            </button>
          </div> 
        {% endfor %}
        {% endif %}
    </div>
    {% endblock %}

    {% block content  %}
    {% endblock content %}
    {% block extra_body %}
    {% endblock %}
</body>
</html>


