{% load static %}
<div style="margin-top: 70px; padding: 20px;">
  {% if messages %}
  {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show " role="alert">
        {{ message }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span data-dismiss="true">&times;</span>
      </button>
    </div> 
  {% endfor %}
  {% endif %}
</div>




<nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
  <div class="container">

    <!-- Brand -->
    <a class="navbar-brand waves-effect" href="{% url 'core:home' %}">
      <strong class="blue-text">Brand Name</strong>
    </a>

    <!-- Collapse -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Links -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

          <!-- Left -->
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link waves-effect" href="{% url 'core:home' %}">home
                <span class="sr-only">(current)</span>
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link waves-effect" href="{% url 'core:check' %}">Checkout</a>
            </li>

            <li class="nav-item">
              <a class="nav-link waves-effect" href="#">Products</a>
            </li>

          </ul>

          <!-- Right -->
          
          {% if request.user.is_authenticated %}
          <ul class="navbar-nav nav-flex-icons">
            <li class="nav-item">
              <a class="nav-link waves-effect">                  
                <span class="badge red z-depth-1 mr-1"> 1 </span>
                  <i class="fas fa-shopping-cart"></i>
                  <span class="clearfix d-none d-sm-inline-block"> Cart </span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link waves-effect border border-primary rounded" href="{% url 'account_logout' %}">Logout</a>
            </li>
          </ul>

          
          {% else %}
          <ul class="navbar-nav nav-flex-icons">
            <li class="nav-item">
              <a class="nav-link waves-effect border border-primary rounded" href="{% url 'account_login' %}">Logout</a>
            </li>
          </ul>

          {% endif %}
    </div>

  </div>
</nav>
